<link rel="stylesheet" href="{{ 'component-rte.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'section-main-page.css' | asset_url }}" media="print" onload="this.media='all'">

<noscript>{{ 'component-rte.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'section-main-page.css' | asset_url | stylesheet_tag }}</noscript>


<div class="" style="padding: 0 2rem;">
  <h2 class="page-title">
      Reto 3
  </h2>
  <div class="test collection-list" style="display: flex; justify-content: space-around;">
    {%- for block in section.blocks -%}
      {%- assign product = all_products[block.settings.product] -%}
      <div>
        <a href="{{ product.url }}">
          <img src="{{ product.featured_image | img_url: '300x300' }}">
        </a>
        <h2> {{ product.title }} </h2>
        <p> $ {{ product.price }} COP</p>
        {% for product_option in product.options_with_values %}
        {% if product_option.name == "Color" %}
          <div style="display: flex;"> 
            {% for value in product_option.values %}
              <div style="background-color: {{value}}; height: 20px; width:20px; border-radius:50%; margin: 0 5px; border: 2px solid lawngreen; cursor:pointer;">
              </div>
              {% endfor %}
            </div>
            <a href="/cart/{{product.variants[0].id }}:1">Agregar al carrito</a>
          {% endif %}
        {% endfor %}
      </div>
    {%- endfor -%}
  </div>

</div>

{% schema %}
{
  "name": "products-grid",
  "tag": "section",
  "class": "capacitacion product-grid",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Testo antes de la grid"
    }
  ],
  "blocks": [
    {
      "type": "advert",
      "name": "Product Block",
      "settings": [
        {
          "type": "product",
          "id": "product",
          "label": "Product-Handle"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.page.presets.name"
    }
  ]
}
{% endschema %}